.form-control, .form-control:focus {
    border: 0 solid;
    background-color: #F6F6F6;
}
#bottoneAggiungi {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-top: -5%;
    margin-right: 4%;
    background-color: #DF8819;
    border: 0 solid;
    outline: 0 solid;
    font-size: 30px;
    color: white;
}


#bottoneAggiungi.single-tab {
    margin-top: -15%;
}

.arancione{
    background-color: #DF8819 !important;
    border: 0 solid !important;
}
