{% load static %}

<thead>
<tr>
    <th>CANTIERE</th>
    <th>CLIENTE</th>
    <th class="icon"></th>
    <th class="icon"></th>
</tr>
</thead>
<tbody>
{% for site in sites %}
    <tr>
        <td>{{ site.name }}</td>
        <td>{{ site.client_id.name }}</td>
        <td>
            <img src="{% static 'ManagementSoftware/img/IconaModifica.png' %}"
                 class="update"
                 width="30px" alt="Modifica"
                 data-form-url="{% url 'site_update' site.pk %}">
        </td>
        <td>
            <img class="delete"
                 src="{% static 'ManagementSoftware/img/IconaElimina.png' %}" width="30px" alt="Modifica"
                 data-form-url="{% url 'site_delete' site.pk %}">
        </td>
    </tr>
{% endfor %}
</tbody>
