{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block import %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ManagementSoftware/css/single-tab.css' %}">
{% endblock %}

{% block body %}
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog mt-5">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog mt-5" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div id="main-container" class="container">
        <div id="row-sopra" class="row">
            {% block gray-bar %} {% endblock %}
        </div>

        <div class="row search-bar">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" id="search"
                           placeholder="{% block search_placeholder %}{% endblock %}" aria-label="cerca">
                </div>

                {% block filters %} {% endblock %}
            </div>
            <div class="col-md-2">
                <button class="action" id="download-csv">
                    Scarica CSV
                </button>
            </div>
            <div class="col-md-2">
                <button id="nuovo-articolo" class="action create" title="Aggiungi">
                    Nuovo articolo
                </button>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="table table-borderless" id="risultati">
                {% block table %}{% endblock %}
            </table>
        </div>
    </div>

{% endblock %}

{% block jquery %}
    <script type="text/javascript">
        $(function () {

            // Create Article Modal Form
            function createArticleModalForm() {
                $(".create").modalForm({
                    formURL: "{% block insert_form %}{% endblock %}",
                    modalID: "#create-modal"
                });
            }

            createArticleModalForm();

            // Update Article Modal Form
            function updateArticleModalForm() {
                $(".update").each(function () {
                    $(this).modalForm({
                        formURL: $(this).data("form-url"),
                    });
                });
            }

            updateArticleModalForm();

            // Delete Article Modal Form
            function deleteArticleModalForm() {
                $(".delete").each(function () {
                    $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
                });
            }

            deleteArticleModalForm();

            // Hide message
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
        });

        $("#download-csv").on("click", function () {
            window.location =
            {% block download-csv %}{% endblock %}
        })

        $("#search").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#risultati tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        let fromDate;
        let toDate = 0;
        let trDate;
        $("#fromDate").on("change", function () {
            let from = $(this).val().split("-");
            fromDate = new Date(from[0], from[1], from[2]);

            $("#risultati tbody tr").filter(function () {
                let tr = $(this).find(".data").text().split("/");
                $(this).show();
                $(this).removeClass("filterHide");
                trDate = new Date(tr[2], tr[1], tr[0])

                if (toDate == 0) toDate = new Date(3000, 1, 1);

                if (fromDate > trDate || toDate < trDate) {
                    $(this).hide();
                    $(this).addClass("filterHide");
                }
            })
        });

        $("#toDate").on("change", function () {
            let to = $(this).val().split("-");
            toDate = new Date(to[0], to[1], to[2]);

            $("#risultati tbody tr").filter(function () {
                let tr = $(this).find(".data").text().split("/");
                $(this).show();
                $(this).removeClass("filterHide")
                trDate = new Date(tr[2], tr[1], tr[0])

                if (fromDate > trDate || toDate < trDate) {
                    $(this).hide();
                    $(this).addClass("filterHide");
                }
            })
        });

        $(".dropdown-menu input").on("change", function () {
            let risultatiTr = $("#risultati tbody tr");
            risultatiTr.hide();

            $(".dropdown-menu input").each(function () {
                let checkbox = $(this);
                let filterName = $(this).parent().text();

                if (checkbox.is(":checked")) {
                    risultatiTr.filter(function () {
                        if(!$(this).hasClass("filterHide"))
                            return $(this).find(".status").text().toLowerCase().trim() === filterName.toLowerCase().trim()
                    }).show();
                }

            })

        })


    </script>
{% endblock %}